#div-conteudo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.div-filha {
  width: 200px;
  height: 200px;
}

#div-filha-esquerda {
  background-color: purple;
}

#div-filha-meio {
  background-color: teal;
}

#div-filha-direita {
  background-color: orange;
}
